$white: #fff;
$red: #c82333;
$purple: #5a528d;
$light-gray: #e2e1e1;
$shadow: #eee;
$box-shadow: #c7c7c7;
$title-color: #555;
$sub-title-color: #717171;
$bg-color: #f7f7f7;
$fb: #4b6fac;
$twitter: #51D3F7;
$google-plus: #DB553D;
$linkedin: #0186C2;
$dropbox: #028BD3;
$insta: #527FA3;
$pinterest: #D63937;
$skype: #01B9EF;
$button-shadow: #6d1019;
$transparent: rgba(255,255,255,.5);
$footer: #2B2B2B;